app-pilot {
    margin: 10px;
    padding: 16px;
    display: inline-block;
    border: 2px white dotted;
}

app-pilot.selected {
    border: 2px red solid;
    padding: 14px;
}
.add-button {
    float: right;
    margin-top: -55px;
}