:host {
    display: block;
    background-color: black;
    background-image: url('/assets/black-hole.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.link-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

button {
    width: 150px;
    height: 50px;
    background: red;
    border: none;
    color: white;
    font-size: 14px;
}